.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul {
  list-style-type: none;
}

input[type="radio"]:checked + label {
  background-color: #ddd; /* Highlight selected stat */
}

.creature-image {
  width: 300px !important; /* or any size you prefer */
  /* height: auto; /* ensures the aspect ratio is maintained */
  max-height: 300px; /* limits the height */
  object-fit: contain; /* ensures the image fits within the size constraints */
}


.player-hand {
  display: flex;        /* Use Flexbox layout */
  flex-direction: row;  /* Arrange children in a row */
  justify-content: space-around; /* Space the cards evenly */
  gap: 10px;            /* Optional: Add some space between cards */
}

/* when a card is selected */
.card.selected {
  border: 2px solid green;
}

/* combat buttons */
.combat-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.combat-button {
  flex: 1;               /* Buttons take up equal width */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-right: 10px;    /* Add gap between buttons */
  text-align: center;
}

.combat-button.melee {
  background-color: green;
  color: white;
}

.combat-button.ranged {
  background-color: blue;
  color: white;
}

.combat-button.magic {
  background-color: red;
  color: white;
}

/* Add 2px border on selection */
.combat-button.selected {
  border: 4px solid black;
}

/* Remove margin on the last button */
.combat-button:last-child {
  margin-right: 0;
}
